#main-container{
    /* background-color: yellow; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@keyframes ldio-qwh8sbz2fso {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-qwh8sbz2fso div {
  left: 45px;
  top: 6px;
  position: absolute;
  animation: ldio-qwh8sbz2fso linear 1s infinite;
  background: #c3bfbf;
  width: 10px;
  height: 24px;
  border-radius: 2.4px / 2.4px;
  transform-origin: 5px 44px;
}.ldio-qwh8sbz2fso div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9s;
  background: #c3bfbf;
}.ldio-qwh8sbz2fso div:nth-child(2) {
  transform: rotate(36deg);
  animation-delay: -0.8s;
  background: #c3bfbf;
}.ldio-qwh8sbz2fso div:nth-child(3) {
  transform: rotate(72deg);
  animation-delay: -0.7s;
  background: #c3bfbf;
}.ldio-qwh8sbz2fso div:nth-child(4) {
  transform: rotate(108deg);
  animation-delay: -0.6s;
  background: #c3bfbf;
}.ldio-qwh8sbz2fso div:nth-child(5) {
  transform: rotate(144deg);
  animation-delay: -0.5s;
  background: #c3bfbf;
}.ldio-qwh8sbz2fso div:nth-child(6) {
  transform: rotate(180deg);
  animation-delay: -0.4s;
  background: #c3bfbf;
}.ldio-qwh8sbz2fso div:nth-child(7) {
  transform: rotate(216deg);
  animation-delay: -0.3s;
  background: #c3bfbf;
}.ldio-qwh8sbz2fso div:nth-child(8) {
  transform: rotate(252deg);
  animation-delay: -0.2s;
  background: #c3bfbf;
}.ldio-qwh8sbz2fso div:nth-child(9) {
  transform: rotate(288deg);
  animation-delay: -0.1s;
  background: #c3bfbf;
}.ldio-qwh8sbz2fso div:nth-child(10) {
  transform: rotate(324deg);
  animation-delay: 0s;
  background: #c3bfbf;
}
.loadingio-spinner-spinner-b8zft8adxfg {
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-qwh8sbz2fso {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.24);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-qwh8sbz2fso div { box-sizing: content-box; }

.loader-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:40px;
}

/* ---------------------------Auth spinner 2--------------------------*/
.loadingio-spinner-spinner-ynzs6menann-parent{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ff000000;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@keyframes ldio-b7ujgh3otmn {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-b7ujgh3otmn div {
  left: 47px;
  top: 22.5px;
  position: absolute;
  animation: ldio-b7ujgh3otmn linear 1s infinite;
  background: #666666;
  width: 6px;
  height: 15px;
  border-radius: 1.8px / 1.8px;
  transform-origin: 3px 27.5px;
}.ldio-b7ujgh3otmn div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #666666;
}.ldio-b7ujgh3otmn div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #666666;
}.ldio-b7ujgh3otmn div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #666666;
}.ldio-b7ujgh3otmn div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #666666;
}.ldio-b7ujgh3otmn div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #666666;
}.ldio-b7ujgh3otmn div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #666666;
}.ldio-b7ujgh3otmn div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #666666;
}.ldio-b7ujgh3otmn div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #666666;
}.ldio-b7ujgh3otmn div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #666666;
}.ldio-b7ujgh3otmn div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #666666;
}.ldio-b7ujgh3otmn div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #666666;
}.ldio-b7ujgh3otmn div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #666666;
}
.loadingio-spinner-spinner-ynzs6menann {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-b7ujgh3otmn {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-b7ujgh3otmn div { box-sizing: content-box; }
/* --------------------search loader-------------------*/

@keyframes ldio-wqrjrebykue {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-wqrjrebykue div {
  left: 47px;
  top: 25px;
  position: absolute;
  animation: ldio-wqrjrebykue linear 1s infinite;
  background: #333333;
  width: 6px;
  height: 16px;
  border-radius: 1.76px / 1.76px;
  transform-origin: 3px 25px;
}.ldio-wqrjrebykue div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.875s;
  background: #333333;
}.ldio-wqrjrebykue div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.75s;
  background: #333333;
}.ldio-wqrjrebykue div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.625s;
  background: #333333;
}.ldio-wqrjrebykue div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.5s;
  background: #333333;
}.ldio-wqrjrebykue div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.375s;
  background: #333333;
}.ldio-wqrjrebykue div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.25s;
  background: #333333;
}.ldio-wqrjrebykue div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.125s;
  background: #333333;
}.ldio-wqrjrebykue div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0s;
  background: #333333;
}
.loadingio-spinner-spinner-e6pp2pli24b {
  width: 32px;
  height: 32px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-wqrjrebykue {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.32);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-wqrjrebykue div { box-sizing: content-box; }


/* ------------loadder------------------*/
.inv-loader{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgb(255, 0, 0);
  z-index:1000;

}
.hide-loader{
  width: 0px !important;
  height: 0px !important;
}