.mainWrapper{
    /* background-color: #ff0000; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5rem 0rem;
}
.parentWarpper{
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1.375rem 0rem;
    border:1px solid #fafafa;
    border-radius: 4px;
}
.msgCont{
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media  screen and (min-width:360px) {
    .parentWarpper{
        border-color: #ccc;
    }
}
@media  screen and (min-width:600px) and (max-width:740px) {
    .parentWarpper{
        max-width: 580px;
    }
    .msgCont{
        max-width: 510px;
    }
}